<li>
	{{burger_name}}

	<button class="change-dev" data-id="{{id}}" data-newdev="{{dev}}">
		{{#if dev}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-burgers" data-id="{{this.id}}">DELETE!</button>
</li>
