<li>
	{{burger_name}}

	<button class="change-dev" data-id="{{id}}" data-newdev="{{dev}}">
		{{#if dev}}EAT!{{else}}ALL GONE!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
